@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    /* Pure Black */
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Technical Grid Utilities */
.border-grid {
  border: 1px dashed #27272a;
  /* Zinc 800 */
}

.border-solid-grid {
  border: 1px solid #27272a;
}

/* Remove all blurs and glows */
* {
  text-shadow: none !important;
  box-shadow: none !important;
}

/* Material Symbols Overrides */
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}